<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaoche.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,800}</string>
                <key>spriteSourceSize</key>
                <string>{100,800}</string>
                <key>textureRect</key>
                <string>{{590,104},{84,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dimian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,92}</string>
                <key>spriteSourceSize</key>
                <string>{1080,92}</string>
                <key>textureRect</key>
                <string>{{590,4},{1080,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangzi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{296,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{4,4},{296,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yun01.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{274,180}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{308,4},{274,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tex-0.png</string>
            <key>size</key>
            <string>{1674,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acd421c239261f41e758540e4be94327:09db0e9970faad1a8b1f2ca76d6b61f3:69cf287bef0cf035d3ebcdb8ce4bb384$</string>
            <key>textureFileName</key>
            <string>tex-0.png</string>
        </dict>
    </dict>
</plist>
